
.achievements--container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 300px) {
  .achievements--container {
    margin-top: 5vh;
  }
}